
@{
    ViewData["Title"] = "ManagerUserDetails";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="row">
    <div class="col-md-12 mt-5">
        <div class="card m-b-30">
            <div class="card-body">
                <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>

                            <th>SI No</th>
                            <th>User Type</th>
                            <th>Name</th>
                            <th>Mobile No</th>
                            <th>Email Id</th>
                            <th>User Name</th>


                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>1</td>
                            <td>BDO</td>
                            <td>Rajesh Jena</td>

                            <td>7008535529</td>
                            <td>rk@gmail.com</td>
                            <td>rajesh_123</td>
                        </tr>


                    </tbody>
                </table>
                <div class="row mt-lg-4 mr-1">
                    <div class="col-md-11"></div>
                    <div class="col-md-1">
                        <a href="/AEHUB/BatchDetails"><button class="btn btn-primary">Back</button></a>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>

