
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    Layout = null;
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimal-ui">
    <title>MP MB MD</title>
    <meta content="Admin Dashboard" name="description">
    <meta content="ThemeDesign" name="author">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="~/assets/images/favicon.ico">
    <!--Morris Chart CSS -->
    <link rel="stylesheet" href="~/assets/plugins/morris/morris.css">
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/icons.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/7.1.96/css/materialdesignicons.min.css" />
    <!-- DataTables -->
    <link href="~/assets/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css">
    <!-- Responsive datatable examples -->
    <link href="~/assets/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css">
    <!--Chartist Chart CSS -->

    <link href="~/assets/css/loader.css" rel="stylesheet" />
    @*<script type="text/javascript">
            window.history.forward();
            function noBack() {
                window.history.forward();

            }
        </script>*@

    @*<script type="text/javascript">
            function preventBack() {
                window.history.forward();

            }

            setTimeout("preventBack()", 0);

            window.onunload = function () { null };
        </script>*@
</head>
<body class="fixed-left">
    <!-- Loader -->
    <div id="preloader">
        <div id="status">
            <div class="spinner"></div>
        </div>
    </div>
    <!-- Begin page -->
    <div id="wrapper">
        <!-- ========== Left Sidebar Start ========== -->
        <div class="left side-menu">
            <button type="button" class="button-menu-mobile button-menu-mobile-topbar open-left waves-effect">
                <i class="ion-close"></i>
            </button>
            <div class="left-side-logo d-block d-lg-none">
                <div class="text-center">
                    <a href="index.html" class="logo">
                        <img src="~/assets/images/logo-dark.png" height="20" alt="logo">
                    </a>
                </div>
            </div>
            <div class="sidebar-inner slimscrollleft">
                <div id="sidebar-menu">
                    <ul>


                        @if (Convert.ToInt32(HttpContextAccessor.HttpContext.Session.GetString("UserType")) == 1)
                        {
                            <li class="has_sub">
                                <a href="/Admin/DashBoard" title="Welcome" data-filter-tags="welcome">
                                    <i class="fal fa-home"></i>
                                    <span class="nav-link-text" data-i18n="nav.welcome">Dashboard</span>
                                </a>
                            </li>
                            <li class="has_sub">
                                <a href="javascript:void(0);" class="waves-effect">
                                    <i class="dripicons-briefcase"></i>
                                    <span>Master Management</span>
                                    <span class="menu-arrow float-right">
                                        <i class="mdi mdi-chevron-right"></i>
                                    </span>
                                </a>
                                <ul class="list-unstyled">


                                    <li>
                                        <a href="/Admin/Manager_User"> Create Manageuser</a>
                                    </li>

                                    <li>
                                        <a href="/Admin/ManagerUserDetails"> Manageuser List</a>
                                    </li>
                                    @*<li>
                                            <a href="/Admin/Panchayat">Panchayat Details</a>
                                        </li>

                                        <li>
                                            <a href="/Admin/Block">Block Details</a>
                                        </li>*@



                                </ul>
                            </li>

                        }
                        @if (Convert.ToInt32(HttpContextAccessor.HttpContext.Session.GetString("UserType")) == 2)
                        {
                            <li class="active">
                                <a href="/PEO/DashBoard" title="Welcome" data-filter-tags="welcome">
                                    <i class="fal fa-home"></i>
                                    <span class="nav-link-text" data-i18n="nav.welcome">Dashboard</span>
                                </a>
                            </li>
                            <li class="has_sub">
                                <a href="javascript:void(0);" class="waves-effect">
                                    <i class="dripicons-briefcase"></i>
                                    <span>Grivance Details</span>
                                    <span class="menu-arrow float-right">
                                        <i class="mdi mdi-chevron-right"></i>
                                    </span>
                                </a>
                                <ul class="list-unstyled">

                                    <li>
                                        <a href="/PEO/Grievance"> Create Grivance</a>
                                    </li>

                                    <li>
                                        <a href="/PEO/Grievance_list">Grivance List</a>
                                    </li>




                                </ul>
                            </li>

                        }

                        @if (Convert.ToInt32(HttpContextAccessor.HttpContext.Session.GetString("UserType")) == 3)
                        {
                            <li class="active">
                                <a href="/BDO/DashBoard" title="Welcome" data-filter-tags="welcome">
                                    <i class="fal fa-home"></i>
                                    <span class="nav-link-text" data-i18n="nav.welcome">Dashboard</span>
                                </a>
                            </li>
                            <li class="has_sub">
                                <a href="javascript:void(0);" class="waves-effect">
                                    <i class="dripicons-briefcase"></i>
                                    <span>Grivance Details</span>
                                    <span class="menu-arrow float-right">
                                        <i class="mdi mdi-chevron-right"></i>
                                    </span>
                                </a>
                                <ul class="list-unstyled">

                                    <li>
                                        <a href="/BDO/Grievance"> Pending Grivance</a>
                                    </li>

                                    <li>
                                        <a href="/BDO/Grievance_list">Grivance List</a>
                                    </li>




                                </ul>
                            </li>

                        }

                        @if (Convert.ToInt32(HttpContextAccessor.HttpContext.Session.GetString("UserType")) == 4)
                        {
                            <li class="active">
                                <a href="/NodalOff/DashBoard" title="Welcome" data-filter-tags="welcome">
                                    <i class="fal fa-home"></i>
                                    <span class="nav-link-text" data-i18n="nav.welcome">Dashboard</span>
                                </a>
                            </li>
                            <li class="has_sub">
                                <a href="javascript:void(0);" class="waves-effect">
                                    <i class="dripicons-briefcase"></i>
                                    <span>Grivance Details</span>
                                    <span class="menu-arrow float-right">
                                        <i class="mdi mdi-chevron-right"></i>
                                    </span>
                                </a>
                                <ul class="list-unstyled">

                                    <li>
                                        <a href="/NodalOff/Grievance"> Pending Grivance</a>
                                    </li>

                                    <li>
                                        <a href="/NodalOff/Grievance_list">Grivance List</a>
                                    </li>




                                </ul>
                            </li>

                        }
                        @if (Convert.ToInt32(HttpContextAccessor.HttpContext.Session.GetString("UserType")) == 5)
                        {
                            <li class="active">
                                <a href="/LDO/DashBord" title="Welcome" data-filter-tags="welcome">
                                    <i class="fal fa-home"></i>
                                    <span class="nav-link-text" data-i18n="nav.welcome">Dashboard</span>
                                </a>
                            </li>
                            <li class="has_sub">
                                <a href="javascript:void(0);" class="waves-effect">
                                    <i class="dripicons-briefcase"></i>
                                    <span>Grivance Details</span>
                                    <span class="menu-arrow float-right">
                                        <i class="mdi mdi-chevron-right"></i>
                                    </span>
                                </a>
                                <ul class="list-unstyled">

                                    <li>
                                        <a href="/LDO/Grievance"> Pending Grivance</a>
                                    </li>

                                    <li>
                                        <a href="/LDO/Grievance_list">Grivance List</a>
                                    </li>




                                </ul>
                            </li>

                        }
                        @if (Convert.ToInt32(HttpContextAccessor.HttpContext.Session.GetString("UserType")) == 6)
                        {
                            <li class="active">
                                <a href="/Collector/DashBord" title="Welcome" data-filter-tags="welcome">
                                    <i class="fal fa-home"></i>
                                    <span class="nav-link-text" data-i18n="nav.welcome">Dashboard</span>
                                </a>
                            </li>
                            <li class="has_sub">
                                <a href="javascript:void(0);" class="waves-effect">
                                    <i class="dripicons-briefcase"></i>
                                    <span>Grivance Details</span>
                                    <span class="menu-arrow float-right">
                                        <i class="mdi mdi-chevron-right"></i>
                                    </span>
                                </a>
                                <ul class="list-unstyled">

                                    <li>
                                        <a href="/Collector/Grievance"> Pending Grivance</a>
                                    </li>

                                    <li>
                                        <a href="/Collector/Grievance_list">Grivance List</a>
                                    </li>




                                </ul>
                            </li>

                        }
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
            <!-- end sidebarinner -->
        </div>
        <!-- Left Sidebar End -->
        <!-- Start right Content here -->

        <div class="content-page">
            <!-- Start content -->
            <div class="content">
                <!-- Top Bar Start -->
                <div class="topbar">
                    <div class="topbar-left	d-none d-lg-block">
                        <div class="text-center">
                            <a href="index.html" class="logo">
                                <img src="~/assets/images/logo.png" height="20" alt="logo">
                            </a>
                        </div>
                    </div>
                    <nav class="navbar-custom">
                        @*  *@
                    <ul class="list-inline float-right mb-0">



                        <li class="list-inline-item dropdown notification-list">
                            <a class="nav-link dropdown-toggle arrow-none waves-effect nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                <img src="~/assets/images/users/ProfileImage.jpg" alt="user" class="rounded-circle">

                            </a>

                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated profile-dropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="mdi mdi-account-circle m-r-5 text-muted"></i>@*@HttpContextAccessor.HttpContext.Session.GetString("UserName")*@
                                </a>


                                <a href="#" class="dropdown-item" data-toggle="modal" data-target=".js-modal-settings">
                                    <span data-i18n="drpdwn.settings"></span>
                                </a>
                                <div class="dropdown-divider m-0"></div>
                                @*<a href="#" class="dropdown-item" data-toggle="modal" data-action="app-fullscreen">
                                        <span data-i18n="drpdwn.fullscreen">Fullscreen</span>
                                        <i class="float-right text-muted fw-n">F11</i>
                                    </a>*@
                                @*<a href="#" class="dropdown-item" data-action="app-print">
                                        <span data-i18n="drpdwn.print">Print</span>
                                        <i class="float-right text-muted fw-n">Ctrl + P</i>
                                    </a>*@
                                <a class="dropdown-item fw-500 pt-3 pb-3" href="/Admin/ChangePassword">
                                    <span data-i18n="drpdwn.page-logout">Change Password</span>
                                    <span class="float-right fw-n"></span>
                                </a>


                                @if (Convert.ToInt32(HttpContextAccessor.HttpContext.Session.GetString("UserType")) == 5)
                                {
                                    <a class="dropdown-item" href="/LogIn/Logout">
                                        <i class="mdi mdi-logout m-r-5 text-muted"></i> Logout
                                    </a>
                                }
                                else
                                {
                                    <a class="dropdown-item" href="/LogIn/Logout">
                                        <i class="mdi mdi-logout m-r-5 text-muted"></i> Logout
                                    </a>
                                }

                            </div>
                        </li>
                    </ul>

                    <ul class="list-inline menu-left mb-0">
                        <li class="list-inline-item">
                            <button type="button" class="button-menu-mobile open-left waves-effect">
                                <i class="mdi mdi-arrow-left"></i>
                            </button>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </nav>
            </div>
            <!-- Top Bar End -->
            <div class="page-content-wrapper">
                @RenderBody()

                <!-- container fluid -->
            </div>
            <!-- Page content Wrapper -->
        </div>








        <!-- content -->
        <footer class="footer">
            © 2023 - 2024 <b>APICOL</b>

        </footer>
    </div>
    <!-- End Right content here -->
</div>
<!-- END wrapper -->
<!-- jQuery  -->
<script src="~/assets/js/jquery.min.js"></script>
<script src="~/assets/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/js/modernizr.min.js"></script>
<script src="~/assets/js/detect.js"></script>
<script src="~/assets/js/fastclick.js"></script>
<script src="~/assets/js/jquery.slimscroll.js"></script>
<script src="~/assets/js/jquery.blockUI.js"></script>
<script src="~/assets/js/waves.js"></script>
<script src="~/assets/js/jquery.nicescroll.js"></script>
<script src="~/assets/js/jquery.scrollTo.min.js"></script>
<!-- skycons -->
<script src="~/assets/plugins/skycons/skycons.min.js"></script>
<!-- skycons -->
<script src="~/assets/plugins/peity/jquery.peity.min.js"></script>
<!--Morris Chart-->
<script src="~/assets/plugins/morris/morris.min.js"></script>
<script src="~/assets/plugins/raphael/raphael-min.js"></script>
<!-- dashboard -->
<script src="~/assets/pages/dashboard.js"></script>
<!-- App js -->
<script src="~/assets/js/app.js"></script>
<!-- Required datatable js -->
<script src="~/assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/assets/plugins/datatables/dataTables.bootstrap4.min.js"></script>
<!-- Buttons examples -->
<script src="~/assets/plugins/datatables/dataTables.buttons.min.js"></script>
<script src="~/assets/plugins/datatables/buttons.bootstrap4.min.js"></script>
<script src="~/assets/plugins/datatables/jszip.min.js"></script>
<script src="~/assets/plugins/datatables/pdfmake.min.js"></script>
<script src="~/assets/plugins/datatables/vfs_fonts.js"></script>
<script src="~/assets/plugins/datatables/buttons.html5.min.js"></script>
<script src="~/assets/plugins/datatables/buttons.print.min.js"></script>
<script src="~/assets/plugins/datatables/buttons.colVis.min.js"></script>
<!-- Responsive examples -->
<script src="~/assets/plugins/datatables/dataTables.responsive.min.js"></script>
<script src="~/assets/plugins/datatables/responsive.bootstrap4.min.js"></script>
<!-- Datatable init js -->
<script src="~/assets/pages/datatables.init.js"></script>


<!--Chartist Chart-->
<script src="~/assets/plugins/chartist/js/chartist.min.js"></script>
<script src="~/assets/plugins/chartist/js/chartist-plugin-tooltip.min.js"></script>
<script src="~/assets/pages/chartist.init.js"></script>



</body>
</html>
